 .main{
    border-style: solid;
    border-color: gray;
    border-width: 50px;
    width: 80%;
    height: 900px;
    margin: 5%;
  }
 .nombre{
  	background-color: orange;
  	text-align: center;
  	width: 100%;
    height: 150px;
    margin-top: 0px; 
  }   
.imagen{
	height: 180px;
    width: 180px;
	border-radius: 180px;
	text-align: center;
	transform: translateY(-50%);
	border-color: gray;
    border: solid;
    padding: 0px;
}
  h1{
      float: left;
      margin-top: -80px;
}      margin-left: 200px;    
  
body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-style: normal;
    font-family: arial;
  }
  

  .cuerpo{
    width: 100%;
    margin-top: 20px;
    display: flex;
  }
 
  .col1{
    width: 60%;
    margin-left: 30px;
  }
  .about{
  	background-color: white;
  	text-align: justify;
  	width: 100%;
  	height: 100px;
  	float: left;

  }
  .namediv{
  	margin: 0px 0px 0px 0px;
  	color: orange;
      text-align: left;
      height: 50px;
      width: 100%;
      margin-top: 10px;
  }
  .pabout{
    width: 100%;
    padding: 0px;
    margin: 40px 0px 0px 0px;
  }
  .educ{
  	float: left;
  	background-color: white;
  	text-align: justify;
  	width: 100%;
      height: 200px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  .titulos{
      width: 100%;
      height: 50px;
  }
  .age_xp  {
  	width: 20%;
  	height: 60px;
  	text-align: center;
      padding-top: 2PX;
        display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  .text_cuadro
{
	margin: 0px 0px 0px 0px;
	padding-left: 2PX;
	width: 20%;
	font-size: x-small;
    height: 20px;
}
  .texto_xp{
  	margin: 0px 0px 0px 140px;
  	padding-left: 16px;
  	width: 80%;
  	height: 60px;
  }
  .pgris{
  	width: 100%;
  	height: 35px;
  	margin: 0px 0px 0px 0px;
    padding-top: 0;
    padding-bottom: 0px;
  	background-color: #efeffb;
  	text-align: left;
  }
  .exp_1{
  	float: left;
  	background-color: white;
  	text-align: justify;
  	width: 100%;
  	height: 100px;
  }

  .exp_2{
  	background-color: white;
  	text-align: justify;
  	width: 100%;
  	height: 100px;
  }
  .text_xp
  {
  	margin: 0px 0px 0px 0px;
  	float: left;
  	padding-left: 2PX;
  	width: 100%;
  	height: 60px;
  	padding-top: 2PX;
  }
  .text_cuadro
  {
  	margin: 0px 0px 0px 0px;
  	padding-left: 2PX;
  	width: 100%;
  	font-size: x-small;

  }
  .text_ch
  {
  	margin: 0px 0px 0px 0px;
  	padding-left: 2PX;
  	width: 100%;
  	font-size: xx-small;

  }

  .col2{
    width: 30%;
    margin-left: 20px;


  }
  .barra1{
  	margin: 0px 0px 0px 0px;
  	background-color: orange;
  	text-align: left;
  	color: white;
  	width: 90%;
  	height: 20px;
  	padding-bottom: 0px;
  }
  .barra2{
  	margin-top: 2px;
  	background-color: orange;
  	text-align: left;
  	color: white;
  	width: 80%;
  	height: 20px;
  }
  .barra3{
  	padding-bottom: 0px;
  	margin-top: 2px;
  	background-color: orange;
  	text-align: left;
  	color: white;
  	width: 70%;
  	height: 20px;
  }
  .barra4{
  	margin-top: 2px;
  	background-color: orange;
  	text-align: left;
  	color: white;
  	width: 60%;
  	height: 20px;
  }
  .barra5{
  	margin-top: 2px;
  	background-color: orange;
  	text-align: left;
  	color: white;
  	width: 50%;
  	height: 20px;
  }
  
  .texto_negro{
    font-weight: bold;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }